body {
    background-color: #000000; /* Fondo negro */
    color: #ffffff; /* Texto blanco */
  }


#form {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}



